@font-face {
    font-family: shabnam;
    src: url(./assetes/fonts/Shabnam.woff);
}
html , body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: shabnam;
}
/* .nav-custom {
    min-height: 8rem;
} */
.nav-link {
    transition: all 0.3s;
}
.nav-item-links:hover {
    background-color: black;
    color: white !important;
    border-radius: 5px;
}
.custom-button {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    background-color: orange;
    border: 2px solid orangered;
}
.logo-background {
    width: 20rem;
    height: 10rem;
    position: relative;
    right: 10px;
}
.logo-div {
    width: 100px;
    position: relative;
    bottom: 110px;
}
.logo-photo {
    width: 60px;
    height: 60px;
    position: relative;
    left: 60px;
    bottom: 40px;
}
.div-dvi {
    width: 20rem;
    height: 10rem;
    position: relative;
    right: 30px;
}
.caption1 img {
    width: 390px;
    max-height: 300px;
}
.caption1 div {
    width: 400px;
    max-height: 144px;
}
.footer {
    width: 100%;
    height: 10rem;
    background: url(./assetes/img/025_footer_Bg.svg) no-repeat;
    
    background-size: cover;
}
.footer-link {
    font-size: smaller;
}
.camel {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.slide2-icon {
    width: 30px;
    height: 30px;
    filter: invert(22%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}
.slide2-icon-div {
    width: 50px;
    height: 50px;
    border: limegreen 2px solid;
    border-radius: 50%;
}
.mobile-div img{
    width: 15rem;
    height: 100%;
}
.download-icon {
    width: 80px;
    height: 80px;
}
.bazzar-icon {
    width: 25px;
}
.slide3 {
    width: 50%;
    background-color: rgb(245, 242, 242);
}
/*
copyed from internet
*/
.ocean {
    min-height: 250px;
    width: 100%;
    margin: 0 auto;
    /* max-width: 960px; */
    overflow: hidden;
    position: relative;
    background: white;
  }
  .wave {
    background: url(./assetes/img/020_dlbox_bg2.svg) repeat-x;
    position: absolute;
    bottom: 0;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  .wave:nth-of-type(2) {
    bottom: 25px;
    animation: wave2 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
    opacity: 1;
  }
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @keyframes wave2 {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: +1600px;
    }
  }
/*
copyed from internet
*/
.slide-4 {
    /* width: 100%; */
    min-height: 19rem;
    background: url(./assetes/img/022_bg_amadegisafar.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.slide-4-button {
    position: relative;
    top: 70px;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    background-color: orange;
    border: 2px solid orangered;
}
.download-button {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(60, 173, 60);
    color: white;
}
.donwload-box {
    box-shadow: -1px 19px 28px 0px rgba(0,0,0,0.75);
}
.inp::placeholder{
    padding:0 20px;
}
.button-postion{
    position: relative;
    left: 30px;
}
.slideShow {
    overflow-x: auto;
}
.slideShow img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin:5px 10px;
}
.line {
    width: 2px;
    height: 460px;
    background-color: green;
    position: absolute;

}
.slide-5 {
    width: 50%;
}
.telegram {
    width: 40px;
}
.instagram {
    width: 40px;
}
.twitter {
    width: 40px;
}
.footer-img {
    width: 500px;
    height: 100px;
    background: url(./assetes/img/026_footer_c.right_bg.svg);
    background-repeat: no-repeat;
    position: relative;
    top:60px;
    font-size: small;
}
@media only screen and (max-width: 992px) {
    .nav-custom {
      background-color: lightgray;
    }
    .caption1 img {
        max-width: 300px;
    }
    .caption1 div {
        width: 300px;
        max-height: 190px;
    }
    .footer {
        background-color: rgb(14, 155, 14);
    }
    .slide3 {
        width: 100%;
    }
    .slide-4 {
        min-height: 170px;
        background: url(./assetes/img/023_amadegisafar.jpg);
        background-size: cover; 
        max-height: 170px;
        color: black;
    }
    .slide-4-button {
        position: initial;
    }
    .slide-5 {
        width: 80%;
    }
  }